{% extends 'blog/base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <h2>Login Here:</h2>
        <h3>Must be SuperUser, Check with the site admin</h3>
        <br>
        {% if form.errors %}
            <p>Your username and password didn't match!</p>
        {% endif %}
        <form class="" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
{% endblock %}
